
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;

}

/*Custom style starts here*/
img {
  width: 20px;
}
nav {
  background-color: #333333;
  color: #bababa;
}
.navbar-right {
  margin-right: 25%;
  margin-left: 15%;
  margin-top: 15px;
  text-decoration: none;
}
#login-buttons a, a {
 text-decoration: none;
 color: #bababa;
}
.left-side, .main-content, footer, .listing {
  padding: 10px 0 10px 15px;
}

.left-side {
  width: 20%;
  height: 100%;
  background-color: #2A3542;
  overflow-y: scroll;
}
.listing-chatroom {
  margin: 20px;
}
#addChatroom {
  margin: 30px 0 10px 0;
  padding: 10px 5px;
}
.chatroom-title, .listings_header {
  color: #48d6ff;
  padding: 10px 0;
}
.chatroom #chatroom_name ul li a {  
  margin: 10px 0;
  padding: 10px;
}
a:hover {
  color: #48d6ff;
  text-decoration: none;
}
.left-side ul li {
  margin: 10px 30px 10px 0;
  font-size: 0.9em;
}
 .prefix span {
  margin-right: 20px;
}
.unread {
  color: #ffffff;
  background: #eb4d5c;
  border-radius: 9px;
  padding: 2px 9px;
  font-size: .8rem;
  line-height: 14px;
  font-weight: 700;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.listings_direct-message ul li {
  padding: 0;
}
.user ul li {
  margin: 0;
  padding: 0;
}
#map-wrapper {
  width: 100%;
  margin: 10px;
}
.main-content {
  padding: 20px;
  margin-top: 50px;
}
.video-container {
  margin-top: 60px;

}
.video {
  margin: 10px 0;
  width: 100%;
}
#myvideo, #partnervideo {
  width: 100%;
  height: 150px;
}
.callkey {
  margin: 10px 0;
  padding: 10px 5px;
  display: block;
  width: 100%;
}
.callword, .hangupaction, #hangupzone, #callzone, .video-actions, button {
  display: inline-block;
  margin-right: 10px;
}
.video-actions {
  width: 80%;
}
.footer-fixed {
/*  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;*/
  /* Set the fixed height of the footer here */
 /* height: 90px;
  background-color: #2A3542;*/
}
.input-box, .user-menu {
  display: inline-block;
}
.user-menu  {
  width: 17%;

}
.input-box {
  position: absolute;
  margin: 10px 0;
  padding: 0;
}
.input-box input {
  width: 600px;
  padding: 5px;
}

.main-content {
  max-height: 100%;
 
}
.message-history {
  max-height: 500px;
  padding: 0px 5px;
  overflow: scroll;
}

.user-menu_profile-pic {
  display: inline-block;
  
}
.user-menu_profile-pic,.user-menu_username, .user-menu img {
  vertical-align: middle;
}
.user-menu_profile-pic,.user-menu_username {
  padding-right: 5px;
}
.user-menu_username {
  color: #EB4D5C;
  font-size: 1.2em;
}
.profile {
/*  background-color: #efefef;*/
  padding: 20px;
}
.desc {
  margin: 10px 0;
}
.social-media {
  padding: 10px 0;
}
.tip {
  width: 50%;
  margin: 0 auto;
}
.profile-map, .profile-review, .profile-chat {
  border: 1px solid #aeaeae;
  padding: 20px;
  margin: 20px 10px 0 10px ;
}
.profile-map, .profile-review {
  height: 200px;
}
header {
  background-color: #2A3542;
}
a.logo {
  margin: 15px 30px 15px 0;
  color: #ffffff;
}
ul.top-menu {
  margin: 15px;
  font-size: 1.2em;
}
ul.chat-list {
  border-bottom: none;
}
#sidebar, body {
 overflow-y: scroll;
}