<template name="header">
	<header class="header">
        <div class="sidebar-toggle-box">
        </div>      
        <a class="logo" href="#"><img id="imglogo" src="/images/navichat_logo.png"></a>
        <!--  <div id="top_menu nav pull-right"> -->
        <ul class="top-menu">
            {{ #if getUserId}}
                <li ><a href="/users/dashboard/{{getUserId}}">My Profile</a></li>
                <li ><a href="/video_chat">Video Chat</a></li>  
            {{/if}}                  
            <li class="dropdown">{{> loginButtons}}</li>

        </ul>

    </header>
</template>