<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NaviChat</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-reset.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--right slidebar-->
  <link href="/css/slidebars.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/style-responsive.css" rel="stylesheet">
</head>