<template name="app">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">{{> header}}</nav> 
    <aside>
        <div id="sidebar"  class="nav-collapse ">      
            {{> listings}}           
        </div>
    </aside>
    <section id ="main-content">
    	<section class ="wrapper site-min-height" >
    		{{> yield}}
    	</section>   
    </section>           
    <!-- <footer class="site-footer">
        <div class="text-center">
          2015 &copy; Navichat.
            <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>    -->
</template>