<template name="instruction">
	<style type="text/css">
		h1 {
			font-size: 2.5em;
			text-align: center;
		}
		ol {
			margin: 40px;
			font-size: 1.5em;
		}
		.instruction {
			padding: 30px;
		}
		h2 {
			text-align: center;
			font-size: 1.2em;
		}
		.container {
			height: 600px;
		}
	</style>
	<div class="container">
		<h1><strong>Welcome to </strong><img id="imglogo2" src="/images/navichat_logo.png"></h1>
		<ol>
			<li class="instruction"><h4>1) Create an account, login with an existing account, or link your social profile.</h4></li>
			<li class="instruction"><h4>2) Pick a chatroom on the left and start discussing possible travel plans you may have.</h4></li>
			<li class="instruction"><h4>3) Find your perfect guide and start planning your trip!</h4></li>
		</ol>
		<h2>Tip for tips: Don't forget to leave a tip and review for your guide!</h2>
	</div>
</template>