<template name="listings" class="sidebar-menu" id=" nav-accordion">
	<div class="listing">
		<ul class="listings_chatrooms">
			<li class="listings_header">
				<input type='text' id='addChatroom' placeholder='Add chatroom'>
			</li>
			<li><h2 class="chatroom-title">CHATROOMS</h2></li>
			<ul class="chatroom_list chat-list">
				{{#each chatrooms}}
				{{> chatroom name=name}}
				{{/each}}
			</ul>
		</ul>
		<div class="listings_direct-messages">
			<h2 class="listings_header">USERS</h2>
			<ul class="user_list chat-list">
				{{#each users}}
				{{> user userId=_id username=username status_online=status.online status_idle=status.idle}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>