<template name="videos">   
    <div class="videos">
        <div class="col-lg-6">
          <div class="panel">
            <div class="panel-body">             
              <div class="bio-desk">
                <h4 class="red">{{> partnervideo}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel">
            <div class="panel-body">             
              <div class="bio-desk">
                <h4 class="red">{{> myvideo}}</h4>
              </div>
            </div>
          </div>
        </div>
    <!--     <div class="video">{{> myvideo}}</div> -->
        {{>navbar}}
        <div class="video-actions">{{> call_other}}{{> hangup}}</div>
     
    </div>
</template>